# Data Transformation
#### Data
are values of <b>Qualitative</b> or <b>Quantitative</b> variables, belonging to a set of items
- <b>Qualitative</b> data are anything that can be expressed as a number. <i>Height, Weight, Age</i>
- <b>Qualitative</b> data cannot be expressed as a number. <i>Gender, Status</i>

### Raw vs Processed Data
#### Raw Data
- Data from original sources
- Data that is often difficult tobe analysed
- Data that have alot of missing values, hard to understand, and does not make sense.

#### Processed Data
- Data after the process
- Processing can include imputation, merging, remove outliers, subsetting, transforming, and aggregating.
- All the processing should be recorded

### What is Tidy data (Hadley Wickham, 2014)
- Each measured variable should be in <b>one</b> column.
- Each different observation of that variable should be in <b>different row</b>
- Each type of observational unit forms a table.

### The Codebook
- It is the <b>meta data</b>
- Information that <b>describes the varibles</b> (including the measurement of units)
- Information on how the variables are <b>collected, generated, or calculated</b>

# Importing Data
### Reading SAS data

In [17]:
install.packages('sas7bdat', repos = 'http://cran.us.r-project.org')
library(sas7bdat)

sas = read.sas7bdat('airline.sas7bdat')
head(sas)

package 'sas7bdat' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpghHzve\downloaded_packages

  YEAR Y     W     R      L     K
1 1948 1.214 0.243 0.1454 1.415 0.612
2 1949 1.354 0.260 0.2181 1.384 0.559
3 1950 1.569 0.278 0.3157 1.388 0.573
4 1951 1.948 0.297 0.3940 1.550 0.564
5 1952 2.265 0.310 0.3559 1.802 0.574
6 1953 2.731 0.322 0.3593 1.926 0.711

### Reading Excel data

In [18]:
install.packages('readxl',repos='http://cran.us.r-project.org')
library(sas7bdat)
library(readxl)

 readxl_example()
 readxl_example('clippy.xls')
 xlsx_example = readxl_example('datasets.xlsx')
 xlsx_example

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpghHzve\downloaded_packages

 [1] "clippy.xls"    "clippy.xlsx"   "datasets.xls"  "datasets.xlsx"
 [5] "deaths.xls"    "deaths.xlsx"   "geometry.xls"  "geometry.xlsx"
 [9] "type-me.xls"   "type-me.xlsx"

[1] "C:/ProgramData/Anaconda5/R/library/readxl/extdata/clippy.xls"

[1] "C:/ProgramData/Anaconda5/R/library/readxl/extdata/datasets.xlsx"

In [19]:
excel = read_excel(xlsx_example)
excel

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
... ...          ...         ...          ...         ...
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [20]:
excel2 = read_excel('laundry.xlsx')
head(excel2)

  Day W1 W2 W3 W4 W5 W6 D7 D8 D9 ... Gas_Usage Electricity_Usage Water_Usage
1 1   28 34 40 35 22 35 36 43 30 ...  7100     28                 87452
2 2   28 22 71 61 75 64 62 52 47 ...  8814     34                 97839
3 3   25 37 72 68 73 59 58 66 53 ...  6936     25                 97839
4 4   21 20 73 66 75 84 80 57 67 ... 10540     30                101318
5 5   10 26 33 29 37 32 64 44 49 ...  5028     23                 47572
6 6   37 56 53 40 28 50 45 42 19 ...  6734     25                 79860
  Detergent_1 Detergent_2 Softener Bleach Aroma Bag CoinLoss
1 3            3          4         0     3     0   56
2 3            4          3        14     1     2   48
3 6            4          5         0     4     3   76
4 4           11          2         0     0     2   14
5 2            3          3         0     2     2    0
6 5            1          4         0     0     3   14

In [21]:
excel3 = read_excel(xlsx_example, sheet = "chickwts")
head(excel3)

  weight feed
1 179    horsebean
2 160    horsebean
3 136    horsebean
4 227    horsebean
5 217    horsebean
6 168    horsebean

In [22]:
excel4 = read_excel(xlsx_example, sheet = 4)
head(excel4)

  lat    long   depth mag stations
1 -20.42 181.62 562   4.8 41
2 -20.62 181.03 650   4.2 15
3 -26.00 184.10  42   5.4 43
4 -17.97 181.66 626   4.1 19
5 -20.42 181.96 649   4.0 11
6 -19.68 184.31 195   4.0 12

In [23]:
read_excel(xlsx_example, n_max = 3)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa

In [24]:
read_excel(xlsx_example, range = "C1:C4")

  Petal.Length
1 1.4
2 1.4
3 1.3

In [25]:
read_excel(xlsx_example, range = cell_rows(1:4))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa

In [26]:
read_excel(xlsx_example, range = cell_cols("B:D"))

    Sepal.Width Petal.Length Petal.Width
1   3.5         1.4          0.2
2   3.0         1.4          0.2
3   3.2         1.3          0.2
4   3.1         1.5          0.2
5   3.6         1.4          0.2
6   3.9         1.7          0.4
7   3.4         1.4          0.3
8   3.4         1.5          0.2
9   2.9         1.4          0.2
10  3.1         1.5          0.1
11  3.7         1.5          0.2
12  3.4         1.6          0.2
13  3.0         1.4          0.1
14  3.0         1.1          0.1
15  4.0         1.2          0.2
16  4.4         1.5          0.4
17  3.9         1.3          0.4
18  3.5         1.4          0.3
19  3.8         1.7          0.3
20  3.8         1.5          0.3
21  3.4         1.7          0.2
22  3.7         1.5          0.4
23  3.6         1.0          0.2
24  3.3         1.7          0.5
25  3.4         1.9          0.2
26  3.0         1.6          0.2
27  3.4         1.6          0.4
28  3.5         1.5          0.2
29  3.4         1.4          0.2
30  3.2         1.6          0.2
... ...         ...          ...
121 3.2         5.7          2.3
122 2.8         4.9          2.0
123 2.8         6.7          2.0
124 2.7         4.9          1.8
125 3.3         5.7          2.1
126 3.2         6.0          1.8
127 2.8         4.8          1.8
128 3.0         4.9          1.8
129 2.8         5.6          2.1
130 3.0         5.8          1.6
131 2.8         6.1          1.9
132 3.8         6.4          2.0
133 2.8         5.6          2.2
134 2.8         5.1          1.5
135 2.6         5.6          1.4
136 3.0         6.1          2.3
137 3.4         5.6          2.4
138 3.1         5.5          1.8
139 3.0         4.8          1.8
140 3.1         5.4          2.1
141 3.1         5.6          2.4
142 3.1         5.1          2.3
143 2.7         5.1          1.9
144 3.2         5.9          2.3
145 3.3         5.7          2.5
146 3.0         5.2          2.3
147 2.5         5.0          1.9
148 3.0         5.2          2.0
149 3.4         5.4          2.3
150 3.0         5.1          1.8

### Reading CSV (Comma separated values)

In [27]:
csv1 = read.csv('laundry.csv') #csv read file that is seperted by comma
head(csv1)

csv2 = read.csv2('bank.csv') #csv2 read file that is seperated by semicolon
head(csv1)

  Day W1 W2 W3 W4 W5 W6 D7 D8 D9 ... Gas_Usage Electricity_Usage Water_Usage
1 1   28 34 40 35 22 35 36 43 30 ...  7100     28                 87452
2 2   28 22 71 61 75 64 62 52 47 ...  8814     34                 97839
3 3   25 37 72 68 73 59 58 66 53 ...  6936     25                 97839
4 4   21 20 73 66 75 84 80 57 67 ... 10540     30                101318
5 5   10 26 33 29 37 32 64 44 49 ...  5028     23                 47572
6 6   37 56 53 40 28 50 45 42 19 ...  6734     25                 79860
  Detergent_1 Detergent_2 Softener Bleach Aroma Bag CoinLoss
1 3            3          4         0     3     0   56
2 3            4          3        14     1     2   48
3 6            4          5         0     4     3   76
4 4           11          2         0     0     2   14
5 2            3          3         0     2     2    0
6 5            1          4         0     0     3   14

  Day W1 W2 W3 W4 W5 W6 D7 D8 D9 ... Gas_Usage Electricity_Usage Water_Usage
1 1   28 34 40 35 22 35 36 43 30 ...  7100     28                 87452
2 2   28 22 71 61 75 64 62 52 47 ...  8814     34                 97839
3 3   25 37 72 68 73 59 58 66 53 ...  6936     25                 97839
4 4   21 20 73 66 75 84 80 57 67 ... 10540     30                101318
5 5   10 26 33 29 37 32 64 44 49 ...  5028     23                 47572
6 6   37 56 53 40 28 50 45 42 19 ...  6734     25                 79860
  Detergent_1 Detergent_2 Softener Bleach Aroma Bag CoinLoss
1 3            3          4         0     3     0   56
2 3            4          3        14     1     2   48
3 6            4          5         0     4     3   76
4 4           11          2         0     0     2   14
5 2            3          3         0     2     2    0
6 5            1          4         0     0     3   14

### Reading JSON (Javascript Object Notation)
- is a lightweight data-interchange format. It is easy for humans to read and write. It is easy for machines to parse and generate. 

#### JSON is built on two structures:
- A collection of name/value pairs. In various languages, this is realized as an object, record, struct, dictionary, hash table, keyed list, or associative array.
- An ordered list of values. In most languages, this is realized as an array, vector, list, or sequence.

#### Example of JSON data

```
{"menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
      {"value": "New", "onclick": "CreateNewDoc()"},
      {"value": "Open", "onclick": "OpenDoc()"},
      {"value": "Close", "onclick": "CloseDoc()"}
    ]
  }
}}
```

In [28]:
install.packages('jsonlite',repo='http://cran.us.r-project.org')
library(sas7bdat)
library(jsonlite)

url = 'http://www.data.gov.my/data/ms_MY/dataset/b3a0b3cf-55c0-4926-9110-5c57703997ba/resource/3fa5de2a-4402-45d1-b13b-0f632a27c392/download/jumlah-pekerja-asing-plks-aktif-mengikut-sektor-2011---2016.json'
json = fromJSON(url)
head(json)

package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpghHzve\downloaded_packages

  _id SEKTOR / TAHUN  2011   2012   2013   2014   2015   2016
1 1     PEMBINAAN     223688 226554 434200 411819 450364 387934
2 2     PEMBUATAN     580820 605926 751772 747866 745131 253120
3 3     PERKHIDMATAN  132919 138823 269321 270048 293433 648621
4 4     PERLADANGAN   299217 314329 431611 317410 300770 268478
5 5     PERTANIAN     152325 143021 193482 170680 196710 173641
6 6    PEMBANTU RUMAH     NA     NA     NA     NA     NA 134575

In [29]:
json$'2011'

[1]  223688  580820  132919  299217  152325      NA 1388969

In [30]:
json$`2011`[2]

[1] 580820

# Tidyr and Dplyr Packages

In [31]:
  install.packages('tidyr',repo='http://cran.us.r-project.org')
 install.packages('dplyr',repo='http://cran.us.r-project.org')

library(dplyr)
library(tidyr)

package 'tidyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'tidyr'"

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpghHzve\downloaded_packages
package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpghHzve\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### Functions in tidyr
- gather() - convert wide data to longer format.
- separate() - split one column into multiple columns.
- unite() - combine two or more columns into one.

### Functions in dplyr
- select() - select columns
- filter() - select data with matching criteria
- group_by() - perform grouping of data
- summarise() - summarization of data
- arrange() - sort dataset
- mutate() - manipulate column data

In [32]:
temp_MY = data.frame(Week = c(1,2,3,4,5,6), 
                     KL = c(35,36,34,37,38,NA), 
                     JB = c(34,34,35,37,37,37),
                     Melaka = c(35,35,36,37,37,NA),
                     Penang = c(36,37,37,38,35,NA))

In [33]:
# Is the dataset fulfil "tidy" dataset criteria?
temp_MY
#filter(temp_MY,key='City','Temperature',KL:JB)

  Week KL JB Melaka Penang
1 1    35 34 35     36
2 2    36 34 35     37
3 3    34 35 36     37
4 4    37 37 37     38
5 5    38 37 37     35
6 6    NA 37 NA     NA

In [34]:
temp_MY_tidy = gather(temp_MY, key = "City", value = "Temperature", KL:Penang) 
#key -utk groupby 
#create another column for temp

temp_MY_tidy

   Week City   Temperature
1  1    KL     35
2  2    KL     36
3  3    KL     34
4  4    KL     37
5  5    KL     38
6  6    KL     NA
7  1    JB     34
8  2    JB     34
9  3    JB     35
10 4    JB     37
11 5    JB     37
12 6    JB     37
13 1    Melaka 35
14 2    Melaka 35
15 3    Melaka 36
16 4    Melaka 37
17 5    Melaka 37
18 6    Melaka NA
19 1    Penang 36
20 2    Penang 37
21 3    Penang 37
22 4    Penang 38
23 5    Penang 35
24 6    Penang NA

In [35]:
city_avg_temp = summarise(group_by(temp_MY_tidy, City), mean(Temperature,na.rm = TRUE), max(Temperature,na.rm =TRUE),min(Temperature,na.rm =TRUE),median(Temperature,na.rm =TRUE))

In [36]:
city_avg_temp

  City   mean(Temperature, na.rm = TRUE) max(Temperature, na.rm = TRUE)
1 JB     35.66667                        37
2 KL     36.00000                        38
3 Melaka 36.00000                        37
4 Penang 36.60000                        38
  min(Temperature, na.rm = TRUE) median(Temperature, na.rm = TRUE)
1 34                             36
2 34                             36
3 35                             36
4 35                             37

In [37]:
city_summary = summarise(group_by(temp_MY_tidy, City), mean = mean(Temperature, na.rm = TRUE), count = n(), sd = sd(Temperature, na.rm = TRUE))
city_summary

  City   mean     count sd
1 JB     35.66667 6     1.505545
2 KL     36.00000 6     1.581139
3 Melaka 36.00000 6     1.000000
4 Penang 36.60000 6     1.140175

## <font color=Green>Exercise</font>
- Summarize of weekly temperature for KL and JB only

In [38]:
#city_summary1=summarise
temp_MY_tidy = gather(temp_MY,key='City','Temperature')
gro=group_by(temp_MY_tidy,City)
gro
city_summary = summarise(gro,City),mean = mean(Temperature, na.rm = TRUE), count = n(), sd = sd(Temperature, na.rm = TRUE), max(Temperature, na.rm = TRUE), min(Temperature, na.rm = TRUE))
city_summary

ERROR: Error in parse(text = x, srcfile = src): <text>:5:35: unexpected ','
4: gro
5: city_summary = summarise(gro,City),
                                     ^

In [ ]:
bank = read.csv('bank.csv', sep=';')
head(bank)

In [ ]:
bank_unite = unite(bank, dayMonth, day, month)
head(bank_unite)

In [ ]:
bank_separate = separate(bank_unite, dayMonth, c('newDay','newMonth'))
head(bank_separate)

In [ ]:
bank_select = select(bank, job, marital)
head(bank_select)

In [ ]:
# Similar with subsetting
bank_filter = filter(bank, job=='technician' & marital == 'married')
head(bank_filter)
nrow(bank_filter)

In [ ]:

# Similar with subsetting
bank_filter2 = filter(bank, job=='technician' | marital == 'married')
head(bank_filter2)

In [ ]:
#sorting
bank_arrange = arrange(bank, job)
head(bank_arrange)

In [ ]:
bank_arrange = arrange(bank, desc(job))
head(bank_arrange)

In [ ]:
bank_arrange_multiple = arrange(bank, marital, desc(balance))
head(bank_arrange_multiple)

In [ ]:
bank_distinct = distinct(bank, job) #select unique values
head(bank_distinct)

In [ ]:
bank_distinct_multiple = distinct(bank, job, education) #return unique values
head(bank_distinct_multiple)

In [ ]:
bank_mutate = mutate(bank, newBalance = balance*2) #create new columns,mcm append
head(bank_mutate)

In [ ]:
bank_transmute = transmute(bank, newBalance = balance*2, halfDuration = duration/2)
head(bank_transmute ) #only show the new modified values

In [ ]:
# Piping
bank_job_edu = group_by(bank, job, education)
bank_sel = select(bank,job,age, marital, balance, housing)
bank_summ = summarise(bank_job_edu, age_mean = mean(age), balance_mean = mean(balance))
bank_fil = filter(bank_summ, age_mean < 30)
bank_fil

In [ ]:
# Piping %>%
bank %>% #data
  group_by(job, education) %>% #continue
  select(age, marital, balance, housing) %>%
  summarise(
    age_mean = mean(age, na.rm = TRUE),
    balance_mean = mean(balance, na.rm = TRUE)
  ) %>%
  filter(age_mean < 30)

## <font color=Green>Exercise</font>
- which job keeps most money in the bank, arrange by highest to lowest

In [ ]:
# #head(bank)
# # bank_arranged = arrange(bank, desc(balance), balance)
# # bank_arranged
# # bank_transmute = transmute(bank, balance = arrange(bank, desc(balance), job = arrange(bank, desc(job))
# # bank_transmute
# bankgroup=group_by(bank,job, balance)
# bankgroup
# #bank_sel = select( bank, job, balance)
# #bank_sel
# #bank_transmute = transmute(bank_sel, balance = desc(balance), job = desc(job))
# #bank_transmute
mostwanted=select(arrange(bank,desc(balance)),job,balance)
mostwanted

In [ ]:
bank %>%
group_by(job) %>%
summarise(mean_money=mean(balance)) %>%
arrange(desc(mean_money))

### Merging

In [ ]:
monitors = data.frame(monitorid=c(1,2,3), 
                      lat = c(42.46757, 42.04915, 39.11054), 
                      long = c(-87.81005, -88.27303, -90.32408))
pollutants = data.frame(pollutant = c('ozone', 'so2', 'ozone', 'no2'),
                       duration = c(1,1,8,1),
                       monitorid = c(1,1,2,4))
monitors
pollutants

<b>inner_join()</b> This function combines the columns from both data frames, but only keeps rows where the value in the key column matches in both data frames.

In [ ]:
inner_join(pollutants, monitors, by = "monitorid")

<b>left_join()</b> keep all of the left dataframe information, even if there wasn’t a corresponding record in the monitors data frame

In [ ]:
left_join(pollutants, monitors, by = "monitorid")

<b>full_join()</b> keep all records from both data frames

In [ ]:
full_join(pollutants, monitors, by = "monitorid")

### String Manipulation

In [ ]:
dengue = read.csv('dengue.csv')
names(dengue)

In [ ]:
# Remove dot in all field names
names(dengue) = gsub('.',' ', names(dengue), fixed = TRUE) # fixed = TRUE to make sure gsub treats "." and a dot not a function
# names(dengue) = gsub("\\.",'', names(dengue)) #alternative
names(dengue)

In [ ]:
names(dengue) = c('Year','Week','State','District','Location','Total','Outbreak Duration')
names(dengue)
head(dengue)

In [ ]:
print(names(dengue)[2])
names(dengue)[2] = 'Week No'
print(names(dengue)[2])

In [ ]:
names(dengue)

In [ ]:
names(dengue) = gsub(' ','_', names(dengue))
head(dengue)

In [ ]:
# Inspect the variable location, correct the wrong spelling e.g. "Tmn" to "Taman"

dengue$Location = gsub('Tmn','Taman',dengue$Location)
dengue$Location

In [ ]:
dengue$Location = gsub("Kg","Kampung",dengue$Location)
dengue$Location = gsub("Ss","Seksyen",dengue$Location)
dengue$Location

In [ ]:
# String Split
strsplit('hello Malaysia !',' ')

In [ ]:
# Finding values
# How many times the word "Taman" has appeared in the "Location" field?
grep('Taman', dengue$Location) #return index
# grep('Taman', dengue$Location, value = TRUE)
# dengue[grep('Taman', dengue$Location),]

In [ ]:
grepl('Taman',dengue$Location)

In [ ]:
dengue[grepl('Seksyen|Medan', dengue$Location),]

In [ ]:
# Finding values using regular expression
# Retrive locations that begins with the character "T" and contains character "1" from Location
dengue[grep('^T(.*)1', dengue$Location),]

## <font color=Green>Exercise</font>
- Look for all locations with the words "Jalan" and "Jaya".
- Retrieve all records with the word "Taman" in "Location" in the district "Petaling".
- How many "Kampung" in Selangor and Perak?

In [ ]:
# temp_Mx = gather(dengue, key = "District", value = "Location", Selangor:Perak) 
# temp_Mx[grep('Kampung', dengue$Location),]
exe5=dengue[grepl('Selangor|Perak',dengue$State),]
exe5=exe5[grepl('Kampung',exe5$Location),]
nrow(exe5)
head(exe5)

In [ ]:
exe4=dengue[grep('Petaling', dengue$District)]
exe4=exe4[grep('Taman', exe4$Location)]
nrow(exe4)

In [ ]:
#t=dengue$Location[grep('Jalan','Jaya')]
#t
exe3 = dengue[grep('Jalan(.*)Jaya', dengue$Location),]
exe3

# data.table Packages
- Inherits form data.frame
- All functions that work in data.frame will work with data.table
- Designed to work much faster for subsetting, grouping, and updating

DT[<font color=Green>i</font>, <font color=Blue>j</font>, <font color=Orange>by</font>]

```
R:      i                j        by
SQL:  where   select | update  group by
```

In [ ]:
 #install.packages('data.table', repo='http://cran.us.r-project.org')
library(data.table)

In [ ]:
df = data.frame(x=rep(c('a','b','c'),each = 3), y = c(1,3,6), z = 1:9)
df

In [ ]:
dt = data.table(x=rep(c('a','b','c'),each = 3), y = c(1,3,6), z = 1:9)
dt

In [ ]:
class(df)
class(dt)

In [ ]:
# Convert dataframe to datatable
class(data.table(df))

In [ ]:
# subseting: select row 3 to 5 for 
df[3:5,]
dt[3:5]

In [ ]:
# Show all the records where x==a
df[df$x == 'a',]
dt[x =='a']

In [ ]:
# Sum of z with group by x
dt[, list(mean(z)),by=x]
dt[, .(mean(z)),by=x]

In [ ]:
dt[x=='a', .(mean(z)),by=x]

## <font color=Green>Exercise</font>
- Find the max for column y and mean for column z with group by x
- Find the square root of column y and store in column w
- Use "library(datasets)" load iris dataset, get the mean for Sepal.Width and group the results by Species
- Using bank datset above, which job keeps most money in the bank, arrange by highest to lowest (repeate this exercise using datatable)

In [ ]:
library(datasets)

In [ ]:
dt_bank=data.table(bank)
mostwanted=select(arrange(dt_bank,desc(balance)),job,balance)
mostwanted

In [ ]:
dt_iris=data.table(iris)
dt_iris[, .(mean(Sepal.Width)),by=Species]
dt_iris
#iris_dt[, .(mean(Sepal.Width)), by=Species]

In [13]:
dt[, .(mean(z)), by=x]
dt[, .(max(y)), by=x]

  x V1
1 a 2
2 b 5
3 c 8

  x V1
1 a 6
2 b 6
3 c 6