# R Programming

- R is a software environment for data analysis, statistical computing, and graphics. 
- It is also a programming language. 
- Like Python, R is free and open-source. 
- Compared to Python, R's syntax is more natural to use and allows you to complete data analyses in fewer lines of code.

# Fundamentals

- First appeared in 1992 
- Provides Statistical and AI techniques
- Gives Visualization capabilities 
- It's highly extensible


- It comes with <b>base</b> package and the rest should be installed
- Around 4000 packages are available in CRAN

# Installation (https://www.datacamp.com/community/blog/jupyter-notebook-r)

- install.packages(c('repr', 'IRdisplay', 'evaluate', 'crayon', 'pbdZMQ', 'devtools', 'uuid', 'digest'))
- devtools::install_github('IRkernel/IRkernel')
- IRkernel::installspec()

or

- conda install -c r r-essentials

# Getting Started

# Variables

In [1]:
#assignment operator "<-" & "="
x <- 1
y = 2

print(x)
print(y)

[1] 1
[1] 2

### Data Types
- Logical : TRUE, FALSE
- Numeric/Integer : 1, 20, 404
- Numeric/Double = 1.1, 3.2, 404
- Character = 'Test', "Hello", 'TRUE'
- Raw = 54 65 73 74 <b>(Raw Bytes)</b>
- Complex = 3 + 2i

In [8]:
a = 1
b = 1.1
c = '1.2'
d = 'abc'
e = 2L + 1.3
f = FALSE
g = charToRaw("Test")
i = 2+5i

print(class(a))
# print(class(b))
# print(class(c))
# print(class(d))
#print(class(e))
 #print(class(f))
#print(class(g))
 print(class(i))

[1] "numeric"
[1] "complex"

In [10]:
# Check variable data type
a_int = 3
is.integer(a_int)
is.numeric(a_int)
#is.type_of data(character,logical,integer,numerical)

is.integer(1.1)
is.numeric(1.1)

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [16]:
# Data type conversion
a_int = as.integer(a)
print(a_int)
b = 9.9
 b_int = as.integer(b)
print(b_int)
c = 1.2L
 c_int = as.integer(c)
 print(c_int)

# d_int = as.integer(d)
# print(d_int)
f = 'FALSE'
f_int = as.integer(f) #logical convert to int returns 1 for true and 0 for false
print(f_int)

# g_int = as.integer(g)
# print(g_int)

i_int = as.integer(i)
 print(i_int)

[1] 1
[1] 9
[1] 1

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA

Warning message in eval(expr, envir, enclos):
"imaginary parts discarded in coercion"

[1] 2

In [18]:
# To concatinate two or more strings
name = 'World'
greeting = paste('Hello', name, '!!')
print (greeting)

[1] "Hello World !!"

In [20]:
paste0('string1','string2')

[1] "string1string2"

In [24]:
# To check the variables you have created
ls()

rm(a) #to remove 'a' variable

ls()

 [1] "a_int"    "b"        "b_int"    "c"        "c_int"    "d"
 [7] "e"        "f"        "f_int"    "g"        "greeting" "i"
[13] "i_int"    "name"     "x"        "y"

Warning message in rm(a):
"object 'a' not found"

 [1] "a_int"    "b"        "b_int"    "c"        "c_int"    "d"
 [7] "e"        "f"        "f_int"    "g"        "greeting" "i"
[13] "i_int"    "name"     "x"        "y"

### Types of Operators
#### Arithmetic Operators
- "+" : Addition
- "-" : Substraction
- "*" : Multiplication
- "/" : Division
- "%%" : Modulus/Reminder
- "%/%" : Result of division (quotient)
- "^" : exponentiation

#### Relational Operators (Evaluate values to true or false)
- "==" : Equal
- "!=" : Not Equal
- "<" : Less than
- "<=" : Less than or Equal
- ">" : More than
- ">=" : More than or Equal

#### Logical Operators (Evaluate logical values to true or false)
- "&" : And
- "|" : Or
- "!" : Not

In [25]:
x=5; y=3

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%%y)
print(x%/%y) #remove decimalpoint
print(x^y)

[1] 8
[1] 2
[1] 15
[1] 1.666667
[1] 2
[1] 1
[1] 125

In [26]:
x=5; y=3

print(x == y)
print(x != y)
print(x > y)

print(TRUE & TRUE)
print(TRUE & !FALSE)
print(x == x & x > y)
print(x == y | x > y)

[1] FALSE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE

# Data structures
- is a specialized format for organizing and storing data
- R Base data structures can be organized by their dimensionality and whether they are homogeneous or heterogeneous
  - <font color=blue><b>Homogeneous</b></font>: all elements must be of the same type, e.g. <i>Vector, Matrix</i>
  - <font color=blue><b>Heterogeneous</b></font>: the elements can be of diﬀerent type, e.g. <i>List, DataFrame</i>

## 1. Vector

- A vector is a series of values, stored toghether as a single object. 
- Vectors can be created in R using the <b>c()</b> function, which stands for combine.

Note: All elements of a vector should be of one data-type.

In [34]:
vec = c(1,1.3,1.0,2L)
typeof(vec)
class(vec)
food = c('NasiLemak', 'Donut', 'NasiAyam', 'RotiSardin', 'AsamPedas', 'Kuih')
food

[1] "double"

[1] "numeric"

[1] "NasiLemak"  "Donut"      "NasiAyam"   "RotiSardin" "AsamPedas"
[6] "Kuih"

In [35]:
# To define a vector
weights = c(4, 2, 0, 8.65, 93, 4, 9, 3)
countries = c("Malaysia", "Japan", "Iran", "Singapore", "Germany")

print (countries) 
print (weights)

[1] "Malaysia"  "Japan"     "Iran"      "Singapore" "Germany"
[1]  4.00  2.00  0.00  8.65 93.00  4.00  9.00  3.00

In [39]:
# Indexing
countries[c(1,3,5)] #R starts indexing at 1

[1] "Malaysia" "Iran"     "Germany"

In [37]:
countries[2:4]
countries[4:2]

[1] "Japan"     "Iran"      "Singapore"

[1] "Singapore" "Iran"      "Japan"

In [40]:
# To show 1st and 4th elements of weights
weights[c(1, 4)]

[1] 4.00 8.65

In [41]:
# To show all elements of countries except 1st and 4th
countries[-c(1, 4)] # - is like to remove the element in the vector

[1] "Japan"   "Iran"    "Germany"

In [42]:
remove = c(1,2,3)
countries2 = countries[-remove]
countries2

[1] "Singapore" "Germany"

In [45]:
# To take more information about an object

# What Data Type?
typeof(weights)
typeof(countries)

# How many elements
print (paste("Number of elements in countries: ", length(countries)))

# To check data type of an object
is.double(countries)
is.character(countries)

[1] "double"

[1] "character"

[1] "Number of elements in countries:  5"

[1] FALSE

[1] TRUE

In [46]:
# To name elements of a vector
names(weights)
names(weights) = c("Apple", "Orange", "Kivi", "Watermelon", "Strawberry", "Blueberry", "Banana", "Durian")

weights
weights["Watermelon"]

NULL

     Apple     Orange       Kivi Watermelon Strawberry  Blueberry     Banana
      4.00       2.00       0.00       8.65      93.00       4.00       9.00
    Durian
      3.00

Watermelon
      8.65

In [51]:
animals = c(Lion = 3, Horse = 12, Fish = 53, Eagle = 6)
animals['Horse']

Horse
   12

In [53]:
animals > 10

 Lion Horse  Fish Eagle
FALSE  TRUE  TRUE FALSE

In [54]:
animals + 10 #its like broadcasting

 Lion Horse  Fish Eagle
   13    22    63    16

In [55]:
animals[animals < 10]

 Lion Eagle
    3     6

In [56]:
test = c(TRUE,TRUE,TRUE,FALSE)
animals[test]

 Lion Horse  Fish
    3    12    53

In [59]:
as.logical(c(1,0,1,2)) #converting to logical
                       #any value except zero will return FALSE

[1]  TRUE FALSE  TRUE  TRUE

In [57]:
animals[as.logical(c(1,0,1,2))]

 Lion  Fish Eagle
    3    53     6

In [52]:
animals[!animals < 10]

Horse  Fish
   12    53

In [62]:
help(seq)

In [68]:
t = seq(1,10, by = 2)
t

[1] 1 3 5 7 9

In [61]:
# Sequence generation
x_seq = 1:10
print(x_seq)
is.vector(x)

y_seq = seq(10)
print(y_seq)

z_seq = seq(1, 10, by = 2)  
print(z_seq)

paste('Length of x_seq:',length(x_seq))
paste('Length of z_seq:',length(z_seq))

 [1]  1  2  3  4  5  6  7  8  9 10

[1] TRUE

 [1]  1  2  3  4  5  6  7  8  9 10
[1] 1 3 5 7 9

[1] "Length of x_seq: 10"

[1] "Length of z_seq: 5"

In [69]:
# Computation on vector
x_seq - y_seq #1st element of vector x - 1st element of vector y

# can x_seq - z_seq?
x_seq * 2

 [1] 0 0 0 0 0 0 0 0 0 0

 [1]  2  4  6  8 10 12 14 16 18 20

### 1.1. Appending values to a vector

- <b>append(x, values, after = length(x))</b>
    - x is the target vector
    - values is the list a value(s)
    - after is index of the location we want to append after.

In [75]:
countries = c("Malaysia", "Japan", "Iran", "Singapore", "Germany")
countries
"==================================================================="
countries = append(countries, c("Korea", "Russia"), 2)
countries
"==================================================================="
countries = append(countries, "Brazil")
countries

[1] "Malaysia"  "Japan"     "Iran"      "Singapore" "Germany"

[1] "==================================================================="

[1] "Malaysia"  "Japan"     "Korea"     "Russia"    "Iran"      "Singapore"
[7] "Germany"

[1] "==================================================================="

[1] "Malaysia"  "Japan"     "Korea"     "Russia"    "Iran"      "Singapore"
[7] "Germany"   "Brazil"

## 2. List

- A list can be considered a vector that its elements can be of any data type, including lists.
- Lists can be defined by <b>list()</b> function.
- Lists sometimes called “recursive” vectors, because a list can contain other lists.
- <b>[[ and $ to subset and extend lists</b>

In [85]:
mylist = list(attr1 = 3, attr2 = TRUE, attr3 = NA, attr4 = "Kuala Lumpur")
# mylist
'============================'
# mylist[1]
mylist[[1]] #list in a list
# mylist$attr1
mylist2 = list(mylist,mylist,mylist)
mylist2
mylist2[[1]][[4]]

'============================'
# mylist[4]
# mylist[[4]]
# mylist$attr4

[1] "============================"

[1] 3

[[1]]
[[1]]$attr1
[1] 3

[[1]]$attr2
[1] TRUE

[[1]]$attr3
[1] NA

[[1]]$attr4
[1] "Kuala Lumpur"


[[2]]
[[2]]$attr1
[1] 3

[[2]]$attr2
[1] TRUE

[[2]]$attr3
[1] NA

[[2]]$attr4
[1] "Kuala Lumpur"


[[3]]
[[3]]$attr1
[1] 3

[[3]]$attr2
[1] TRUE

[[3]]$attr3
[1] NA

[[3]]$attr4
[1] "Kuala Lumpur"

[1] "Kuala Lumpur"

[1] "============================"

In [79]:
mylist2 = list(attr1 = 3, attr2 = TRUE, attr3 = NA, attr4 = "Kuala Lumpur", 
               city=list(city1="KL", city2="PJ", city3="JB"))
# mylist2
'============================'
# mylist2[['city']][['city1']]
# mylist2$city$city2

[1] "============================"

## 3. Matrix

- A matrix is a collection of data elements of the <font color=red>same data type</font> arranged in a <b>two-dimensional rectangular layout</b>.<br>
- R can hold a matrix using <b>matrix()</b> function.

In [1]:
# How to create a matrix?
m = matrix(c(4, 7, 12, -5, 6, 0, 5, 7, 1, 103, 21, -9), 
           nrow = 3, 
           ncol = 4)
m

     [,1] [,2] [,3] [,4]
[1,]  4   -5   5    103
[2,]  7    6   7     21
[3,] 12    0   1     -9

In [2]:
m = matrix(c(4, 7, 12, -5, 6, 0, 5, 7, 1, 103, 21, -9), 
           nrow = 3, 
           ncol = 4,
           byrow = TRUE)
m

     [,1] [,2] [,3] [,4]
[1,] 4      7  12   -5
[2,] 6      0   5    7
[3,] 1    103  21   -9

In [3]:
# To name dimensions
dimnames(m) = list(c('r1', 'r2', 'r3'),
                    c('col1', 'col2', 'col3', 'col4'))
m

   col1 col2 col3 col4
r1 4      7  12   -5
r2 6      0   5    7
r3 1    103  21   -9

In [5]:
# to show an element located in m-th row and n-th columns
m[2, 3]

# to show sub-matrix
m[2,] #m[row,column]
m[, 3]
m[c(2, 3), c(1, 4)]

[1] 5

col1 col2 col3 col4
   6    0    5    7

r1 r2 r3
12  5 21

   col1 col4
r2 6     7
r3 1    -9

In [6]:
# Matrix transpose
t(m)

     r1 r2 r3
col1  4 6    1
col2  7 0  103
col3 12 5   21
col4 -5 7   -9

In [7]:
# To perform Matrix Multiplication

m %*% t(m)

   r1   r2  r3
r1  234  49  1022
r2   49 110    48
r3 1022  48 11132

## 4. Factor

Factors are used to represent <b>categorical variables</b>
Two types of categorical variable:
- Nominal : The order of the values does not have any meaning (Gender, Colors, Blood Types)
- Ordinal : The order of the values mean something (Size, Ranking)

<br><b><font color=red>By default R sorts levels alphabetically</font></b>
<br><b>factor()</b> function is being used in R to make a factor.

In [9]:
# How to make a vector in accordance to a vector of strings?
day = c('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') 
day

day_factor = factor(day) 
day_factor
typeof(day_factor)
is.factor(day_factor)

[1] "Mon" "Tue" "Wed" "Thu" "Fri" "Sat" "Sun"

[1] Mon Tue Wed Thu Fri Sat Sun
Levels: Fri Mon Sat Sun Thu Tue Wed

[1] "integer"

[1] TRUE

In [10]:
levels(day_factor) #to check orders of category #alphabetically

[1] "Fri" "Mon" "Sat" "Sun" "Thu" "Tue" "Wed"

In [11]:
# To make the vector level sorted as we want
day2 = c('Tue','Thu','Wed')
day2

day_level = c('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') 
day_factor2 = factor(day2, levels = day_level) 
day_factor2

levels(day_factor2)

day_factor2[1] < day_factor2[2]

[1] "Tue" "Thu" "Wed"

[1] Tue Thu Wed
Levels: Mon Tue Wed Thu Fri Sat Sun

[1] "Mon" "Tue" "Wed" "Thu" "Fri" "Sat" "Sun"

Warning message in Ops.factor(day_factor2[1], day_factor2[2]):
"'<' not meaningful for factors"

[1] NA

In [14]:
day3 = c('Tue','Tue','Tue','Mon','Fri','Sat','Sun','Mon','Fri','Sat','Sun','Mon')
day3
str(day_factor3)
day_factor3 = factor(day3, levels = day_level, ordered=TRUE) #because we have set in order
day_factor3

str(day_factor3)
day_factor3[1] > day_factor3[4]

 [1] "Tue" "Tue" "Tue" "Mon" "Fri" "Sat" "Sun" "Mon" "Fri" "Sat" "Sun" "Mon"

 Ord.factor w/ 7 levels "Mon"<"Tue"<"Wed"<..: 2 2 2 1 5 6 7 1 5 6 ...

 [1] Tue Tue Tue Mon Fri Sat Sun Mon Fri Sat Sun Mon
Levels: Mon < Tue < Wed < Thu < Fri < Sat < Sun

 Ord.factor w/ 7 levels "Mon"<"Tue"<"Wed"<..: 2 2 2 1 5 6 7 1 5 6 ...

[1] TRUE

## 5. DataFrame

- To hold observations (entities) data, stronger data structure is needed.
- <b>A DataFrame is used for storing data tables. 
- It is a list of vectors of equal length. </b>
- In fact, we can create a DataFrame by combining vectors.
- DataFrames are suitable to work with DataSets.

In DataFrames:
- Every row represents an obsservation (entity)
- Every column represents value of an attribute of an observation (e.g. Name, Nge, Gender, etc)
- Can contain elements of diﬀerent types but elements in same column have the same type

In [15]:
# To create a DataFrame
# 1. Putting some vectors together using data.frame() function
Name = c("Rish", "William", "John", "Sara")
Age = c(35, 18, 53, 28)
Graduated = c(TRUE, FALSE, FALSE, TRUE)
students = data.frame(Name, Age, Graduated, stringsAsFactors = FALSE) # Strings will be stored as factors

#data.frame(Name,Age,Graduated)# to create a dataframe

students
str(students)

  Name    Age Graduated
1 Rish    35   TRUE
2 William 18  FALSE
3 John    53  FALSE
4 Sara    28   TRUE

'data.frame':	4 obs. of  3 variables:
 $ Name     : chr  "Rish" "William" "John" "Sara"
 $ Age      : num  35 18 53 28
 $ Graduated: logi  TRUE FALSE FALSE TRUE

In [16]:
dim(students)

[1] 4 3

In [17]:
nrow(students)
ncol(students)

[1] 4

[1] 3

In [18]:
students[1] #shown column 1 only

  Name
1 Rish
2 William
3 John
4 Sara

In [19]:
# Selection
students[1]
students[1,]

  Name
1 Rish
2 William
3 John
4 Sara

  Name Age Graduated
1 Rish 35  TRUE

In [20]:
# # data frames are stored in memory as list but they are wrapped into data.frame objects.
class(students)
typeof(students) #list can have multiple daata types

[1] "data.frame"

[1] "list"

In [22]:
students[3,3] #check whether john graduated #indexing way

[1] FALSE

In [21]:
students[2, 1]
students[2, c(1,3)]

[1] "William"

  Name    Graduated
2 William FALSE

In [23]:
# Column selection
students$Age # return vector
students[['Age']] # return vector

students['Age'] # return list

[1] 35 18 53 28

[1] 35 18 53 28

  Age
1 35
2 18
3 53
4 28

In [33]:
# Change row value
students[,3] = list(Name = "Ardianto", Age = 26, Graduated = TRUE)
students

Warning message in `[<-.data.frame`(`*tmp*`, , 3, value = structure(list(Name = "Ardianto", :
"provided 3 variables to replace 1 variables"

  Name     Age Graduated
1 Rish     37  Ardianto
2 William  29  Ardianto
3 Ardianto 26  Ardianto
4 Sara     19  Ardianto

In [31]:
# Change column value
students[, 2] = c(37, 29, 67, 19)
students

  Name     Age Graduated
1 Rish     37  35
2 William  29  33
3 Ardianto 67  21
4 Sara     19  25

In [34]:
students[,3] = c('TRUE','TRUE','FALSE','TRUE')
students

  Name     Age Graduated
1 Rish     37  TRUE
2 William  29  TRUE
3 Ardianto 26  FALSE
4 Sara     19  TRUE

In [35]:
names(students)
colnames(students)

[1] "Name"      "Age"       "Graduated"

[1] "Name"      "Age"       "Graduated"

In [40]:
rownames(Name) = c('a','b','c','d')
Name['a']

ERROR: Error in `rownames<-`(`*tmp*`, value = c("a", "b", "c", "d")): attempt to set 'rownames' on an object with no dimensions

In [37]:
# rename column
colnames(students) = c('Name2','Age2','Graduated2')
students

colnames(students) = c('Name','Age','Graduated')

  Name2    Age2 Graduated2
1 Rish     37   TRUE
2 William  29   TRUE
3 Ardianto 26   FALSE
4 Sara     19   TRUE

### 5.1. How to extend?

#### 5.1.1. Adding a column

In [41]:
height = c(177, 162, 168, 170)

students$Height = height #sort of append
students

  Name     Age Graduated Height
a Rish     37  TRUE      177
b William  29  TRUE      162
c Ardianto 26  FALSE     168
d Sara     19  TRUE      170

In [42]:
Weight = c(83, 60, 75, 80)
students = cbind(students, Weight) #cbind(dframe,thing you want to add)

students

  Name     Age Graduated Height Weight
a Rish     37  TRUE      177    83
b William  29  TRUE      162    60
c Ardianto 26  FALSE     168    75
d Sara     19  TRUE      170    80

#### 5.1.2. Adding an observation (row)

In [43]:
ali = data.frame(Name = "Ali" , Age = 21, Graduated = FALSE, Height = 169, Weight = 68)
students = rbind(students, ali)

marcus = data.frame(Name = "Marcus" , Age = 24, Graduated = TRUE, Height = 173, Weight = 75)
students = rbind(students, marcus)

students

   Name     Age Graduated Height Weight
a  Rish     37  TRUE      177    83
b  William  29  TRUE      162    60
c  Ardianto 26  FALSE     168    75
d  Sara     19  TRUE      170    80
1  Ali      21  FALSE     169    68
11 Marcus   24  TRUE      173    75

In [46]:
# remove rows
students = students[-c(4, 5),]
students

  Name     Age Graduated Height Weight
a Rish     37  TRUE      177    83
b William  29  TRUE      162    60
c Ardianto 26  FALSE     168    75

## <font color=Green><b>Exercise:</b></font>
- Create a dataframe of your friends (at least 5 attributes)

In [61]:
Name = c("Ah Wei", "Fadhli", "Raqif", "Irfan",'Kevin','Izhar','Facebook')
Age = c(35, 23, 23, 25,30,42,4i)
Graduated = c(TRUE, FALSE, FALSE, TRUE,TRUE,TRUE,FALSE)
friends = data.frame(Name, Age, Graduated) # Strings will be stored as factors

friends 
friends[1]

  Name     Age   Graduated
1 Ah Wei   35+0i  TRUE
2 Fadhli   23+0i FALSE
3 Raqif    23+0i FALSE
4 Irfan    25+0i  TRUE
5 Kevin    30+0i  TRUE
6 Izhar    42+0i  TRUE
7 Facebook  0+4i FALSE

  Name
1 Ah Wei
2 Fadhli
3 Raqif
4 Irfan
5 Kevin
6 Izhar
7 Facebook

### 5.2. Subsetting (Must know)
- Select and exclude variables and observations.

In [65]:
students
students$Graduated == TRUE

  Name     Age Graduated Height Weight
a Rish     37  TRUE      177    83
b William  29  TRUE      162    60
c Ardianto 26  FALSE     168    75

[1]  TRUE  TRUE FALSE

In [63]:
students[,c(1,1,1,1,1,1,1)]

  Name     Name.1   Name.2   Name.3   Name.4   Name.5   Name.6
a Rish     Rish     Rish     Rish     Rish     Rish     Rish
b William  William  William  William  William  William  William
c Ardianto Ardianto Ardianto Ardianto Ardianto Ardianto Ardianto

In [66]:
students[c(1,1,2,2,3,3),]

    Name     Age Graduated Height Weight
a   Rish     37  TRUE      177    83
a.1 Rish     37  TRUE      177    83
b   William  29  TRUE      162    60
b.1 William  29  TRUE      162    60
c   Ardianto 26  FALSE     168    75
c.1 Ardianto 26  FALSE     168    75

In [67]:
gratuated_student = students$Graduated == TRUE
gratuated_student

[1]  TRUE  TRUE FALSE

In [68]:
students[gratuated_student,]

  Name    Age Graduated Height Weight
a Rish    37  TRUE      177    83
b William 29  TRUE      162    60

In [69]:
students[gratuated_student,c(1,2)]

  Name    Age
a Rish    37
b William 29

### 5.2. Order and Sort

In [70]:
order(students$Age)
# students[order(students$Age),]

[1] 3 2 1

In [71]:
sort(students$Age)

[1] 26 29 37

R comes with some built-in data frames helping us to enhance our analysis skills.
<br>Try looking into the following data frames:
- women
- mtcars
- USArrests
- chickwts
- airquality

In [80]:
# show the first 5 rows from mtcars dataset
head(mtcars, 5) #can choose hiw many rows to display
mtcars

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [73]:
# Top 3 powerfull cars
rownames(head(mtcars[order(mtcars$hp, decreasing = TRUE),], 3))

[1] "Maserati Bora"  "Ford Pantera L" "Duster 360"

In [82]:
order(mtcars$hp, decreasing = TRUE)

 [1] 31 29  7 24 17 16 15 12 13 14  5 25 30 22 23 10 11 28  1  2  4 32  6 21  9
[26]  3 27 18 26 20  8 19

In [84]:
head(mtcars[order(mtcars$hp, decreasing = TRUE),]

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: head(mtcars[order(mtcars$hp, decreasing = TRUE),]
   ^

In [86]:
# The most powerfull 3-gear car
mtcar3 = mtcars[mtcars$gear==3,] #sort cars that have only 3 gears
rownames(head(mtcar3[order(mtcar3$hp, decreasing = TRUE),], 3))

[1] "Duster 360"        "Camaro Z28"        "Chrysler Imperial"

In [75]:
# The most powerfull 3-gear car
maxhp3 = max(mtcars[mtcars$gear==3,]$hp)
mtcars[mtcars$hp==maxhp3,] #maxhp3 have 245 hp

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Duster 360 14.3 8   360  245 3.21 3.57 15.84 0  0  3    4
Camaro Z28 13.3 8   350  245 3.73 3.84 15.41 0  0  3    4

In [76]:
# Show the last 4 rows of USArrests
tail(USArrests, 4)

              Murder Assault UrbanPop Rape
Washington    4.0    145     73       26.2
West Virginia 5.7     81     39        9.3
Wisconsin     2.6     53     66       10.8
Wyoming       6.8    161     60       15.6

In [77]:
colnames(USArrests)

[1] "Murder"   "Assault"  "UrbanPop" "Rape"

In [78]:
rownames(tail(mtcars, 7))

[1] "Fiat X1-9"      "Porsche 914-2"  "Lotus Europa"   "Ford Pantera L"
[5] "Ferrari Dino"   "Maserati Bora"  "Volvo 142E"

In [79]:
#State(s) with minimum Murder
minmurder = min(USArrests$Murder)
USArrests[USArrests$Murder == minmurder,]

#State(s) with maximum Murder
maxmurder = max(USArrests$Murder)
USArrests[USArrests$Murder == maxmurder,]

             Murder Assault UrbanPop Rape
North Dakota 0.8    45      44       7.3

        Murder Assault UrbanPop Rape
Georgia 17.4   211     60       25.8

## 6. Missing values

- Missing values in R are denoted by either <font color=red><b>NA</b></font> or <font color=red><b>NaN</b></font>. 
- <b>NaN</b> is used for undefined mathematical operations.
    - <font color=green>is.nan()</font> can be used to check for it.
- <b>NA</b> is usually used for everything else
    - <font color=green>is.na()</font> can be used to check for it.


- <font color=red>NaN value is also NA, but the converse is not true.</font>

In [87]:
testvals = c(4, 0 , -7, NaN, 23, NA, -60)
print (testvals)
"========================="
is.nan(testvals)
"========================="
is.na(testvals)

[1]   4   0  -7 NaN  23  NA -60

[1] "========================="

[1] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE

[1] "========================="

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE

In [88]:
students2 = students

In [89]:
students2[2,1]=NA
students2[1,4]=NA
students2[4,3]=NaN
students2[3,2]=NA
students2

  Name     Age Graduated Height Weight
a Rish     37  TRUE       NA    83
b NA       29  TRUE      162    60
c Ardianto NA  FALSE     168    75
4 NA       NA  NaN        NA    NA

In [90]:
missing_values = is.na(students2)
missing_values

  Name  Age   Graduated Height Weight
a FALSE FALSE FALSE      TRUE  FALSE
b  TRUE FALSE FALSE     FALSE  FALSE
c FALSE  TRUE FALSE     FALSE  FALSE
4  TRUE  TRUE FALSE      TRUE   TRUE

### 6.1. How to remove NA values?

#### 6.1.1. using is.na() function:

In [91]:
testvals = c(4, 0 , -7, NaN, 23, NA, -60)
missing_values = is.na(testvals)
missing_values
# inverse missing value
!missing_values

testvals[!missing_values]

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE

[1]  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE

[1]   4   0  -7  23 -60

#### 7.1.2. using complete.cases() function:

In [ ]:
available_values = complete.cases(testvals)
available_values
"================================"
testvals[available_values]

In [92]:
testvals1 = c( 4 , 0 ,  -7,  NaN, 23,  NA, -60)
testvals2 = c("a", NA , "b", "c", "d", NA, "e")

available_values = complete.cases(testvals1, testvals2)
available_values

[1]  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE

## <font color=Green><b>Exercise:</b></font>

1. How many rows have missing vales in Ozone and Solar.R columns?
2. How many rows have missing vales in both Ozone and Solar.R columns?
3. Assign the dataset into another object called cair. Try to replace all NA values of every column with mean value of the column.

In [110]:
#airquality
missing_values = is.na(airquality)
#missing_values
sum(is.na(airquality$Ozone))#soln1

sum(is.na(airquality$Solar.R)) #soln1


missing_values = (is.na(airquality['Ozone']) & is.na(airquality['Solar.R']))
sum(missing_values) #soln2

cair = airquality
missing_values = is.na(cair)
missing_values
# inverse missing value
!missing_values

cair[!missing_values]

[1] 37

[1] 7

[1] 2

      Ozone Solar.R Wind  Temp  Month Day
 [1,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [2,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [3,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [4,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [5,]  TRUE  TRUE   FALSE FALSE FALSE FALSE
 [6,] FALSE  TRUE   FALSE FALSE FALSE FALSE
 [7,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [8,] FALSE FALSE   FALSE FALSE FALSE FALSE
 [9,] FALSE FALSE   FALSE FALSE FALSE FALSE
[10,]  TRUE FALSE   FALSE FALSE FALSE FALSE
[11,] FALSE  TRUE   FALSE FALSE FALSE FALSE
[12,] FALSE FALSE   FALSE FALSE FALSE FALSE
[13,] FALSE FALSE   FALSE FALSE FALSE FALSE
[14,] FALSE FALSE   FALSE FALSE FALSE FALSE
[15,] FALSE FALSE   FALSE FALSE FALSE FALSE
[16,] FALSE FALSE   FALSE FALSE FALSE FALSE
[17,] FALSE FALSE   FALSE FALSE FALSE FALSE
[18,] FALSE FALSE   FALSE FALSE FALSE FALSE
[19,] FALSE FALSE   FALSE FALSE FALSE FALSE
[20,] FALSE FALSE   FALSE FALSE FALSE FALSE
[21,] FALSE FALSE   FALSE FALSE FALSE FALSE
[22,] FALSE FALSE   FALSE FALSE FALSE FALSE
[23,] FALSE FALSE   FALSE FALSE FALSE FALSE
[24,] FALSE FALSE   FALSE FALSE FALSE FALSE
[25,]  TRUE FALSE   FALSE FALSE FALSE FALSE
[26,]  TRUE FALSE   FALSE FALSE FALSE FALSE
[27,]  TRUE  TRUE   FALSE FALSE FALSE FALSE
[28,] FALSE FALSE   FALSE FALSE FALSE FALSE
[29,] FALSE FALSE   FALSE FALSE FALSE FALSE
[30,] FALSE FALSE   FALSE FALSE FALSE FALSE
[31,] ...   ...     ...   ...   ...   ...
[32,] FALSE FALSE   FALSE FALSE FALSE FALSE
[33,] FALSE FALSE   FALSE FALSE FALSE FALSE
[34,] FALSE FALSE   FALSE FALSE FALSE FALSE
[35,] FALSE FALSE   FALSE FALSE FALSE FALSE
[36,] FALSE FALSE   FALSE FALSE FALSE FALSE
[37,] FALSE FALSE   FALSE FALSE FALSE FALSE
[38,] FALSE FALSE   FALSE FALSE FALSE FALSE
[39,] FALSE FALSE   FALSE FALSE FALSE FALSE
[40,] FALSE FALSE   FALSE FALSE FALSE FALSE
[41,] FALSE FALSE   FALSE FALSE FALSE FALSE
[42,] FALSE FALSE   FALSE FALSE FALSE FALSE
[43,] FALSE FALSE   FALSE FALSE FALSE FALSE
[44,] FALSE FALSE   FALSE FALSE FALSE FALSE
[45,] FALSE FALSE   FALSE FALSE FALSE FALSE
[46,] FALSE FALSE   FALSE FALSE FALSE FALSE
[47,] FALSE FALSE   FALSE FALSE FALSE FALSE
[48,] FALSE FALSE   FALSE FALSE FALSE FALSE
[49,] FALSE FALSE   FALSE FALSE FALSE FALSE
[50,] FALSE FALSE   FALSE FALSE FALSE FALSE
[51,] FALSE FALSE   FALSE FALSE FALSE FALSE
[52,] FALSE FALSE   FALSE FALSE FALSE FALSE
[53,] FALSE FALSE   FALSE FALSE FALSE FALSE
[54,] FALSE FALSE   FALSE FALSE FALSE FALSE
[55,] FALSE FALSE   FALSE FALSE FALSE FALSE
[56,] FALSE FALSE   FALSE FALSE FALSE FALSE
[57,] FALSE FALSE   FALSE FALSE FALSE FALSE
[58,]  TRUE FALSE   FALSE FALSE FALSE FALSE
[59,] FALSE FALSE   FALSE FALSE FALSE FALSE
[60,] FALSE FALSE   FALSE FALSE FALSE FALSE
[61,] FALSE FALSE   FALSE FALSE FALSE FALSE

      Ozone Solar.R Wind Temp Month Day
 [1,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [2,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [3,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [4,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [5,] FALSE FALSE   TRUE TRUE TRUE  TRUE
 [6,]  TRUE FALSE   TRUE TRUE TRUE  TRUE
 [7,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [8,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
 [9,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[10,] FALSE  TRUE   TRUE TRUE TRUE  TRUE
[11,]  TRUE FALSE   TRUE TRUE TRUE  TRUE
[12,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[13,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[14,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[15,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[16,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[17,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[18,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[19,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[20,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[21,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[22,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[23,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[24,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[25,] FALSE  TRUE   TRUE TRUE TRUE  TRUE
[26,] FALSE  TRUE   TRUE TRUE TRUE  TRUE
[27,] FALSE FALSE   TRUE TRUE TRUE  TRUE
[28,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[29,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[30,]  TRUE  TRUE   TRUE TRUE TRUE  TRUE
[31,] ...   ...     ...  ...  ...   ...
[32,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[33,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[34,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[35,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[36,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[37,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[38,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[39,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[40,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[41,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[42,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[43,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[44,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[45,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[46,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[47,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[48,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[49,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[50,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[51,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[52,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[53,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[54,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[55,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[56,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[57,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[58,] FALSE TRUE    TRUE TRUE TRUE  TRUE
[59,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[60,]  TRUE TRUE    TRUE TRUE TRUE  TRUE
[61,]  TRUE TRUE    TRUE TRUE TRUE  TRUE

  [1]  41.0  36.0  12.0  18.0  28.0  23.0  19.0   8.0   7.0  16.0  11.0  14.0
 [13]  18.0  14.0  34.0   6.0  30.0  11.0   1.0  11.0   4.0  32.0  23.0  45.0
 [25] 115.0  37.0  29.0  71.0  39.0  23.0  21.0  37.0  20.0  12.0  13.0 135.0
 [37]  49.0  32.0  64.0  40.0  77.0  97.0  97.0  85.0  10.0  27.0   7.0  48.0
 [49]  35.0  61.0  79.0  63.0  16.0  80.0 108.0  20.0  52.0  82.0  50.0  64.0
 [61]  59.0  39.0   9.0  16.0  78.0  35.0  66.0 122.0  89.0 110.0  44.0  28.0
 [73]  65.0  22.0  59.0  23.0  31.0  44.0  21.0   9.0  45.0 168.0  73.0  76.0
 [85] 118.0  84.0  85.0  96.0  78.0  73.0  91.0  47.0  32.0  20.0  23.0  21.0
 [97]  24.0  44.0  21.0  28.0   9.0  13.0  46.0  18.0  13.0  24.0  16.0  13.0
[109]  23.0  36.0   7.0  14.0  30.0  14.0  18.0  20.0 190.0 118.0 149.0 313.0
[121] 299.0  99.0  19.0 194.0 256.0 290.0 274.0  65.0 334.0 307.0  78.0 322.0
[133]  44.0   8.0 320.0  25.0  92.0  66.0 266.0  13.0 252.0 223.0 279.0 286.0
[145] 287.0 242.0 186.0 220.0 264.0 127.0 273.0 291.0 323.0 259.0 250.0 148.0
[157] 332.0 322.0 191.0 284.0  37.0 120.0 137.0 150.0  59.0  91.0 250.0 135.0
[169] 127.0  47.0  98.0  31.0 138.0 269.0 248.0 236.0 101.0 175.0 314.0 276.0
[181] 267.0 272.0 175.0 139.0 264.0 175.0 291.0  48.0 260.0 274.0 285.0 187.0
[193] 220.0   7.0 258.0 295.0 294.0 223.0  81.0  82.0 213.0 275.0 253.0 254.0
[205]  83.0  24.0  77.0 255.0 229.0 207.0 222.0 137.0 192.0 273.0 157.0  64.0
[217]  71.0  51.0 115.0 244.0 190.0 259.0  36.0 255.0 212.0 238.0 215.0 153.0
[229] 203.0 225.0 237.0 188.0 167.0 197.0 183.0 189.0  95.0  92.0 252.0 220.0
[241] 230.0 259.0 236.0 259.0 238.0  24.0 112.0 237.0 224.0  27.0 238.0 201.0
[253] 238.0  14.0 139.0  49.0  20.0 193.0 145.0 191.0 131.0 223.0   7.4   8.0
[265]  12.6  11.5  14.3  14.9   8.6  13.8  20.1   8.6   6.9   9.7   9.2  10.9
[277]  13.2  11.5  12.0  18.4  11.5   9.7   9.7  16.6   9.7  12.0  16.6  14.9
[289]   8.0  12.0  14.9   5.7   7.4   8.6   9.7  16.1   9.2   8.6  14.3   9.7
[301]   6.9  13.8  11.5  10.9   9.2   8.0  13.8  11.5  14.9  20.7   9.2  11.5
[313]  10.3   6.3   1.7   4.6   6.3   8.0   8.0  10.3  11.5  14.9   8.0   4.1
[325]   9.2   9.2  10.9   4.6  10.9   5.1   6.3   5.7   7.4   8.6  14.3  14.9
[337]  14.9  14.3   6.9  10.3   6.3   5.1  11.5   6.9   9.7  11.5   8.6   8.0
[349]   8.6  12.0   7.4   7.4   7.4   9.2   6.9  13.8   7.4   6.9   7.4   4.6
[361]   4.0  10.3   8.0   8.6  11.5  11.5  11.5   9.7  11.5  10.3   6.3   7.4
[373]  10.9  10.3  15.5  14.3  12.6   9.7   3.4   8.0   5.7   9.7   2.3   6.3
[385]   6.3   6.9   5.1   2.8   4.6   7.4  15.5  10.9  10.3  10.9   9.7  14.9
[397]  15.5   6.3  10.9  11.5   6.9  13.8  10.3  10.3   8.0  12.6   9.2  10.3
[409]  10.3  16.6   6.9  13.2  14.3   8.0  11.5  67.0  72.0  74.0  62.0  56.0
[421]  66.0  65.0  59.0  61.0  69.0  74.0  69.0  66.0  68.0  58.0  64.0  66.0
[433]  57.0  68.0  62.0  59.0  73.0  61.0  61.0  57.0  58.0  57.0  67.0  81.0
[445]  79.0  76.0  78.0  74.0  67.0  84.0  85.0  79.0  82.0  87.0  90.0  87.0
[457]  93.0  92.0  82.0  80.0  79.0  77.0  72.0  65.0  73.0  76.0  77.0  76.0
[469]  76.0  76.0  75.0  78.0  73.0  80.0  77.0  83.0  84.0  85.0  81.0  84.0
[481]  83.0  83.0  88.0  92.0  92.0  89.0  82.0  73.0  81.0  91.0  80.0  81.0
[493]  82.0  84.0  87.0  85.0  74.0  81.0  82.0  86.0  85.0  82.0  86.0  88.0
[505]  86.0  83.0  81.0  81.0  81.0  82.0  86.0  85.0  87.0  89.0  90.0  90.0
[517]  92.0  86.0  86.0  82.0  80.0  79.0  77.0  79.0  76.0  78.0  78.0  77.0
[529]  72.0  75.0  79.0  81.0  86.0  88.0  97.0  94.0  96.0  94.0  91.0  92.0
[541]  93.0  93.0  87.0  84.0  80.0  78.0  75.0  73.0  81.0  76.0  77.0  71.0
[553]  71.0  78.0  67.0  76.0  68.0  82.0  64.0  71.0  81.0  69.0  63.0  70.0
[565]  77.0  75.0  76.0  68.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0
[577]   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0
[589]   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   6.0
[601]   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0
[613]   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0   6.0
[625]   6.0   6.0   6.0   6.0   6.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0
[637]   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0
[649]   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0
[661]   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
[673]   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
[685]   8.0   8.0   8.0   8.0   8.0   8.0   8.0   9.0   9.0   9.0   9.0   9.0
[697]   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
[709]   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
[721]   9.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0  10.0  11.0
[733]  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0  20.0  21.0  22.0  23.0
[745]  24.0  25.0  26.0  27.0  28.0  29.0  30.0  31.0   1.0   2.0   3.0   4.0
[757]   5.0   6.0   7.0   8.0   9.0  10.0  11.0  12.0  13.0  14.0  15.0  16.0
[769]  17.0  18.0  19.0  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0
[781]  29.0  30.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0  10.0
[793]  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0  20.0  21.0  22.0
[805]  23.0  24.0  25.0  26.0  27.0  28.0  29.0  30.0  31.0   1.0   2.0   3.0
[817]   4.0   5.0   6.0   7.0   8.0   9.0  10.0  11.0  12.0  13.0  14.0  15.0
[829]  16.0  17.0  18.0  19.0  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0
[841]  28.0  29.0  30.0  31.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0
[853]   9.0  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0  20.0
[865]  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0  30.0

## <font color=Green><b>Exercise:</b></font>

Write a part of code to show following results:
1. Using USArrests dataset, find out 3 states that having highest murder rate.
2. Using mtcars dataset, the strongest car that has 3 gears.
3. Using mtcars dataset, average of horse power (hp) of those cars having 4 gears and 6 cylindars (cyl).
3. You can download WHO dataset and store it as a DataFrame using following code.<br>
   whodata = read.csv("http://thecads.org/WHO.csv")
   Then, find those 5 countris having the least child mortality rate.

In [13]:
Murder = USArrests$Murder
#maxmurder=max(Murder)
#USArrests[Murder ==maxmurder,]

maxmurder = order(USArrests$Murder, decreasing = TRUE)
maxmurder
rownames(head(USArrests[maxmurder,], 3))

 [1] 10 24  9 18 40  1 42 33 43 28 22 31 20 32 13  2 17  5 25  4 46  3  6 30 35
[26] 14 50 36 38 16 26  8 48 11 37 21 27 47 41 39  7 44 23 12 49 15 45 19 29 34

[1] "Georgia"     "Mississippi" "Florida"

In [21]:

maxhp3 = max(mtcars[mtcars$gear==3,]$hp)
maxhp3
head(mtcars[mtcars$hp==maxhp3,],)

[1] 245

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Duster 360 14.3 8   360  245 3.21 3.57 15.84 0  0  3    4
Camaro Z28 13.3 8   350  245 3.73 3.84 15.41 0  0  3    4

In [26]:
avghp = mean(mtcars[which(mtcars$gears==4 & mtcars$cyl==6),]$hp
head(avghp)

ERROR: Error in parse(text = x, srcfile = src): <text>:2:1: unexpected symbol
1: avghp = mean(mtcars[which(mtcars$gears==4 & mtcars$cyl==6),]$hp
2: head
   ^